<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <!-- 주차장, 입출차 기록, 주차 공간 상태 등을 표시하는 페이지 내용 추가 -->
        <h2>You have (home, parking-lot, entry-exit, spot-status)</h2>
        <button id="goToSpotStatus">Spot status</button>
        <script src="./static/js/index.js"></script>
    </body>
</html>
